# .editorconfig
root = true

[*.java]
indent_style = space
indent_size = 4
continuation_indent_size = 8
insert_final_newline = true
max_line_length = 120

# Opções específicas do IntelliJ (prefixo ij_)
ij_java_brace_style = end_of_line
ij_java_align_multiline_parameters = true
ij_java_keep_simple_methods_in_one_line = false
ij_java_class_count_to_use_import_on_demand = 999
ij_java_names_count_to_use_import_on_demand = 999
